<!DOCTYPE html>
<html lang="zh-tw" ng-app="app">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

</head>

<body ng-controller="mainController">
  <h3>title here</h3>

  add new todo:<input type="text" ng-model="newItem" ng-keypress="onKeyDownInputEvent($event)">
  <button ng-click="addTodo()">add</button>
  <ul ng-repeat="item in list track by $index">
    <li>{{ $index+1 }}:{{ item }}</li>
  </ul>

</body>
<!-- Modules -->
<script src="js/app.js"></script>

<!-- Controllers -->
<script src="js/controllers/mainController.js"></script>

</html>