<!DOCTYPE html>
<html lang="zh-tw" ng-app="app">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

</head>

<body ng-controller="mainController">

  <input type="text" ng-model="newTodo" ng-keypress="onKeyDownInputEvent($event)">
  <button ng-click="addNewListItem(todos.list,newTodo,'newTodo')">add</button>
  <single-list title="todos.title" list="todos.list"></single-list>

  <input type="text" ng-model="newBook" ng-keypress="onKeyDownInputEvent($event)">
  <button ng-click="addNewListItem(books.list,newBook,'newBook')">add</button>
  <single-list title="books.title" list="books.list"></single-list>

 

</body>
<!-- Modules -->
<script src="js/app.js"></script>

<!-- Controllers -->
<script src="js/controllers/mainController.js"></script>
<script src="js/directives/singleList/singleList.js"></script>

</html>